@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3cbw51');
  src:  url('fonts/icomoon.eot?3cbw51#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3cbw51') format('truetype'),
    url('fonts/icomoon.woff?3cbw51') format('woff'),
    url('fonts/icomoon.svg?3cbw51#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e120";
}
.icon-notification_off:before {
  content: "\e900";
}
.icon-notification_active:before {
  content: "\e901";
}
.icon-pin-alt:before {
  content: "\e902";
}
.icon-chat-3:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-question:before {
  content: "\e905";
}
.icon-plus:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-zoom-out:before {
  content: "\e908";
}
.icon-zoom-in:before {
  content: "\e909";
}
.icon-my_location:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e986";
}
.icon-share:before {
  content: "\f064";
}
.icon-github:before {
  content: "\f09b";
}
.icon-facebook:before {
  content: "\ea90";
}

